.topnav {
  background-color: rgb(13, 83, 110);
  overflow: hidden;
  display: flex;
  justify-content: left;
  position: fixed;
  width: 100%;
  z-index: 1;
  
}

.topnav:hover {
  opacity: .9;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-shadow: black .8px .8px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: rgb(0, 212, 0);
  color: white;
}


.topnav a.active {
  background-color: rgb(0, 212, 0);
  color: white;
}
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.topnav a:hover {
 background-color: white;
 color: black;
 text-decoration: none;
 text-shadow: none;
}

.topnav .icon {
 display: none;
}

